@use "../abstracts" as *;

window.Bar * {
  font-size: 16px;
  font-weight: 500;
}

window.Bar .ActiveClient .app-id {
  font-size: 13px;
  color: $onPrimary;
}
window.Bar .ActiveClient .window-title {
  font-size: 15px;
  font-weight: 600;
}
