@use "../abstracts" as *;

.AppMenuPopover {
  background: transparent;

  .app-menu-container {
    background-color: $surface0;
    border-radius: to-rem(16px);
    min-width: to-rem(300px);
    padding: to-rem(10px) to-rem(16px) 0 to-rem(16px);
  }

  .app-menu-search {
    margin-bottom: to-rem(8px);
    border: none;
    outline: none;
    background-color: $surface1;
  }

  .app-menu-scroll {
    border: none;
    background: transparent;

    scrolledwindow,
    viewport {
      border: none;
      background: transparent;
    }
  }

  .app-menu-list {
    background: transparent;
  }

  .app-menu-item {
    background-color: transparent;
    border-radius: to-rem(16px);
    transition: background-color 200ms ease;

    &:hover {
      background-color: gtkalpha($surface1, 0.6);
    }

    .app-menu-item-icon {
      margin-right: to-rem(12px);
    }

    .app-menu-item-label {
      color: $onPrimary;
      font-size: to-rem(14px);
      font-weight: 500;
    }
  }
}
