@use "../abstracts" as *;

window.notification-popup-window {
  background-color: transparent;
  border: none;

  .notification-content-box {
    min-width: to-rem(400px);
    border-radius: to-rem(12px);
    background-color: $surface0;
    margin-bottom: to-rem(10px);
    box-shadow: 0 to-rem(3px) to-rem(8px) 0 gtkalpha($shadow, 0.4);
    border: to-rem(1px) solid gtkalpha($border, 0.2);
    padding: 0;
  }

  &.critical > .notification-content-box {
    border: to-rem(1px) solid gtkalpha($red, 0.6);

    .header {
      background-color: gtkalpha($red, 0.1);
      .app-name {
        color: $red;
      }
      .app-icon {
        color: gtkalpha($red, 0.9);
      }
    }
  }

  .header {
    padding: to-rem(6px) to-rem(10px);
    color: $subtext1;
    border-radius: to-rem(11px) to-rem(11px) 0 0;
    background-color: gtkalpha($surface1, 0.6);
    border-bottom: to-rem(1px) solid gtkalpha($border, 0.1);

    .app-icon {
      margin-right: to-rem(8px);
      color: $lavender;
      font-size: to-rem(18px);
    }

    .app-name {
      margin-right: to-rem(5px);
      font-weight: bold;
      font-size: to-rem(14px);
      color: $overlay2;
    }

    .time {
      margin: 0 to-rem(6px);
      font-size: to-rem(12px);
      color: $subtext0;
    }

    button.close-button {
      padding: to-rem(4px);
      border-radius: 100%;
      background-color: transparent;
      border: none;
      color: $overlay2;
      transition: all 200ms ease;

      &:hover {
        background-color: gtkalpha($red, 0.2);
        color: $red;
      }
    }
  }

  .content {
    margin: to-rem(8px) to-rem(12px);
    padding: to-rem(4px) 0;

    .summary {
      font-size: to-rem(15px);
      font-weight: 500;
      color: $text;
      margin-bottom: to-rem(4px);
    }

    .body {
      font-size: to-rem(14px);
      color: $subtext1;
      padding: to-rem(4px) 0;
    }

    .image {
      border: to-rem(1px) solid $border;
      margin-top: to-rem(8px);
      border-radius: to-rem(8px);
      background-size: cover;
      background-position: center;
    }
  }

  .actions {
    margin: to-rem(8px) to-rem(12px) to-rem(12px) to-rem(12px);
    padding: 0;

    button.action-button {
      margin-left: to-rem(6px);
      padding: to-rem(6px) to-rem(14px);
      border-radius: to-rem(8px);
      background-color: gtkalpha($surface1, 0.7);
      color: $text;
      font-size: to-rem(13px);
      transition: all 200ms ease;
      border: none;

      &:hover {
        background-color: $overlay2;
        color: $base;
      }

      &:first-child {
        margin-left: 0;
      }
    }
  }
}
